<h1><%= current_user.owned_company.name %> Managers</h1>

<ul>
	<li><%= current_user.email %></li>
<% @managers.each do |manager| %>
	<li><%= manager.email %></li>
<% end %>
</ul>

<%= render 'form' %>
