// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
	height: 100%;
}
#sites_list {
	width: 230px; 
	min-height: 100%; 
	background: #333 url('black-linen.png'); 
	color: #FFF; 
	box-sizing: border-box; 
	padding: 40px 10px 20px 10px;
	position: fixed;
}
#content_types_list {
	position: fixed; 
	left: 230px; 
	min-height: 100%; 
	background: #f1f1f1; 
	color: #333; 
	box-sizing: border-box; 
	padding: 40px 10px 20px 10px;
}
#content_stage {
	width: 100%; 
	height: 100%; 
	padding: 40px 20px 20px 480px; 
	box-sizing: border-box;
}
#user-nav {
	text-align: center; 
	position: absolute; 
	bottom: 15px; 
	width: 210px;
	span {
		font-size: 30px; 
		color: #777; 
		margin: 0 6px; 
		text-decoration: none;
		&:hover {
			color: #fff;
		}
	}
}